header {
    background-color: rgb(151, 248, 227);
    width: 100%;
    height: 10vh;
    border-top: solid 2px black;
    padding: 20px;
}
#mainbody {
    margin: 2%;
}
.dashbox1 {
    background-color: white;
    border: dashed .5px navy;
    width: 90vw;
    height: 30vh;
    padding: 15px;
}
#purplebox {
    width: 25vw;
    height: 100px;
    display: inline-block;
    background-color: purple;
    border: solid 3px red;
    margin-right: 15px;

}
#bluebox{
    width: 100px;
    height: 100px;
    background-color: blue;
    border: solid 1px black;
    box-shadow: 3px 3px 3px black;
    margin-right: 15px;
    display: inline-block
    
}
#pinkbox{
    width: 200px;
    height: 220px;
    background-color: rgb(228, 129, 167);
    border: solid 2px black;
    display: inline-block
}

.dashbox2 {
    width: 90vw;
    height: 40vh;
    background-color: white;
    border: dashed .5px navy;
    padding: 15px;
}
#c-1 {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    border: solid 1px black;
    
    
}
#c-2 {
    width: 90px;
    height: 90px;
    background-color:white;
    border-radius: 50%;
    border: solid 1px black;
}
#c-3 {
    width: 110px;
    height: 110px;
    background-color: white);
    border-radius: 50%;
    border: solid 1px black;
}
#dashbox3 {
    background-color: white;
    border: dashed .5px navy;
    width: 90vw;
    height: 30vh;
    padding: 15px;
}